
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    list-style: none;
}


body{
background-color: rgb(49, 49, 49);}

article{
    max-width: 900px;
    margin: 0 auto;

}

img{
    width: 80px;
    height: 80px;
    }
    
    .flex{
    display: flex;
    flex-wrap: wrap;
    }
    .flex-col{
        display: flex;
        flex-direction: column;
    }
    
    
    .hide{
        display: none;
    }

header h1{

    margin-top: 10px;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    justify-content: center;
  
}
header h2{
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.menu{
    justify-content: center;
}
button{
    font-family: 'Press Start 2P', cursive;
    font-size: .6rem; 
    color: white;
    background: none;
    width: 260px;
    margin: 10px auto;}

button:hover,button:focus, button:active{
border: 2px solid rgb(238, 255, 0);
}

#rockPaper{
    flex-wrap: wrap;
}
#rockPaper .title h2{
    margin-top: 20px;
   
    color:  rgb(238, 255, 0);
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

#rockPaper img{
margin: 0 auto;
}

#gameImage{
    width: 100%;
    text-align: center;
}
#rockpaper button{
display: flex;
justify-content: center;
width: 100%;
}
.rules li{
    color: white;
    font-size: 0.7rem;
    margin-top: 5px;
    line-height: 15px;
}
    .rules ol{
        margin: 5px 10px;
    }
  
   .gameArea h2:nth-child(1){
    color: white;
    text-align: center;
    font-size: 1.1rem;
    margin: 20px 0 30px 0;
   } 
   .gameAreaImages{
       justify-content: space-around;
       margin: 0 20px
   }
   .gameAreaImages figure{
    justify-content: space-between;
    width: 84px;
    }
.gameAreaImages figcaption{
    font-size: 0.8rem;
    margin-top: 9px;
color: yellow;}

.gameAreaBattle figure{
width: 84px;
}
.gameAreaBattle p{
    width: 100px;
font-size: 0.8rem;
margin-bottom: 10px;
color: white;
text-align: center;
margin-top: 10px;}

.gameAreaBattle ul.flex{
    padding-left: 20px;
}

.gameAreaBattle li{
    display: flex;
    align-items: center;
}
.resultFrase {
color: yellow;
font-size: 0.7rem;
line-height: 1rem;
text-align: center;
}

@media only screen and (min-width: 768px){

header{
    margin-top: 30px;
}
button{
    width: 40%;
    font-size: 1.3rem;
}
#menu button{
    font-size: 1.0rem;
    width: 30%;
    margin: 10px 50px;

}

#menu{
flex-grow: 3;
justify-content: center;
}
figure,figcaption{
    width: 150px;
    text-align: center;
}

header h1, header h2{

    margin-top: 10px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    justify-content: center;
  
}
body{
    background-color:black;
}
article{
    background-color:rgb(49, 49, 49);
    height: 100%;
    min-height: 100vh;
    max-width: 1700px;
}

.gameAreaBattle ul.flex {
    justify-content: center;
}
.gameAreaBattle ul.flex li{
margin: 10px 75px;
}
.rules{
    width: 70%;
    margin: 0 auto;
}
img{
    width: 150px;
    height: 150px;
}
.gameAreaImages{
    margin: 0 200px
}
.resultFrase {
    font-size: 1.2rem;
margin: 20px}
.gameAreaBattle ul.flex li {
width: 200px;
margin: 0 25px
}
.gameAreaBattle ul.flex li:nth-child(2) {
    width: 120px;
    margin: 0 25px
    }
}